<div id="session-active">
    <h1>Вы действительно хотите выйти?</h1>
    <%= button_to 'Вернуться на главную', root_path, class: 'btn btn-outline-primary', method: :get %>
    <%= button_to 'Выйти', class: 'btn btn-outline-primary' '/log/log' %>
</div>
