<div id="users">
  <% @users.each do |user| %>
    <% if user.id == session[:current_user_id] %>
      <%= render user %>
      <div class="row">
        <div class="col-sm-2"><%= link_to "Подробнее", user, class: "btn btn-outline-dark"%></div>
        <div class="col-sm-4"><%= button_to 'На главную', root_path, method: :get, class: "btn btn-dark" %></div>
      </div>
    <% end %>
  <% end %>
</div>

<%# <%= button_to "New user", new_user_path, class:         для админа, есил придумаю как    %>

