<div class="user">
  <h1 style="text-align: center; padding-top: 10px;">Регистрация</h1>
  <hr>
  <h4 style="padding-left: 40px; padding-right: 20px;">Пожалуйста, заполните форму ниже</h4>
  <%= render "form", user: @user %>
  <br>
</div>