<div class="container-fluid">
<div class="row">
  <div class="col-6">
    <h1>Добро пожаловать на Ruby Test Platform!</h1>
    <p>Этот проект был разработан с целью проверки знаний пользователей 
    в области разработки программного обеспечения на языке Ruby!
    На сайте вы сможете пройти тесты на знание различных аспектов популярного языка веб-программирования,
    а также посоревноваться с другими пользователями.<br><br>
    В подвале сайта вы можете найти ссылки на различные ресурсы, которые будут полезны как начинающим, так и опытным пользователям.   
    </p>
  </div>
  <div class="col-6">
    <img src="https://www.ringkas.us/wp-content/uploads/2017/10/Ruby-language.png" 
    width="auto" height="400px" style="padding-left: 4rem; padding-bottom: 2rem;">
  </div>
</div>

<div class="row">
  <p>Ruby – это тщательно сбалансированный язык. Его создатель Юкихиро Мацумото (также известный как “Matz”),
   объединил части его любимых языков (Perl, Smalltalk, Eiffel, Ada и Lisp) чтобы сформировать новый язык,
    в котором парадигма функционального программирования сбалансирована принципами императивного программирования.
Он часто повторял, что «пытается сделать Ruby естественным, но не простым» языком, который отражает жизнь.
<br>
Основываясь на этом, он добавляет: 
<blockquote><em>Ruby прост на вид, но очень сложен внутри, подобно человеческому телу.</em></blockquote>
</p>
</div>
</div>