
  <h2 style="color: white;">Статусы ответа HTTP</h2>
<h5 style="color: white;">Задание: правильно ответить на все вопросы на знание кодов статуса ответа HTTP</h5>
<div class="input-group">
  <span class="input-group-text">Напишите здесь код</span>
  <textarea class="form-control" aria-label="With textarea"></textarea>
</div>